<%= render partial: "layouts/farmer_subnav" %>
<div class="container">
  <div class="page-header featured">
    <h1>Your Farm Families</h1>
  </div>
<div class="row">
    <% @stores.each do |store| %>
    <div class="col-md-6 farmer-panel">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><%= store.farm_name %></h4>
        </div>
        <div class="panel-body">
          <%= image_tag store.photo_url.url, class: "farmer-image" %>
        </div>
        <div class="farmer-description">
          <p><%= store.description %></p>
        </div>
        <div class="farmer-buttons">
          <%= link_to "Products", "/#{store.url}", class: "btn btn-info" %>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#farm-<%= store.id %>">Profile</button>

          <!-- Modal -->
          <div id="farm-<%= store.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="modal-title"><%= store.farm_name %></h1>
                </div>
                <div class="modal-body">
                  <%= image_tag store.photo_url, class: "farmer-image" %>
                  <p><%= store.description %></p>
                </div>
                <div class="modal-footer">
                  <span><i class="fa fa-facebook"></i></span>
                  <%= link_to "Visit Store", "/#{store.url}", class: "btn btn-danger" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
