<div class="navbar subnav hidden-xs" role="navigation">
  <div class="navbar-inner">
    <ul class="pager subnav-pager">
      <div class="btn-group-wrap">
        <%= link_to "Fruits", stores_path(:fruit), class:"btn btn-sm btn-success"  %>
        <%= link_to "Vegetables", stores_path(:vegetables), class:"btn btn-sm btn-success"  %>
        <%= link_to "Baked Goods", stores_path("baked-goods".to_sym), class:"btn btn-sm btn-success"  %>
        <%= link_to "Flowers", stores_path(:flowers), class:"btn btn-sm btn-success"  %>
        <%= link_to "Seeds", stores_path(:seeds), class:"btn btn-sm btn-success"  %>
        <%= link_to "Canned Goods", stores_path("canned-goods".to_sym), class:"btn btn-sm btn-success"  %>
        <%= link_to "Grains", stores_path(:grains), class:"btn btn-sm btn-success"  %>
        <%= link_to "Drinks", stores_path(:drinks), class:"btn btn-sm btn-success"  %>
        <%= link_to "Crafts", stores_path(:crafts), class:"btn btn-sm btn-success"  %>
        <%= link_to "Herbs", stores_path(:herbs), class:"btn btn-sm btn-success"  %>
      </div>
    </ul>
  </div>
</div>
